# Build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Visual Studio cache/options
.vs/

# OS
.DS_Store
Thumbs.db
